@model List<Usuario>

    @{
    ViewBag.Title = "Index";
}



<div class="container">
    <table class="table table-hover table-bordered mt-5">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Email</th>
                <th>Cargo</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.Sobrenome</td>
                    <td>@item.Email</td>
                    <td>@item.Cargo</td>                    
                </tr>
            }
        </tbody>

    </table>




</div>